.width{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    flex-direction: row;
}
.buttonStyle{
    width: 105px;
    height: 44px;
    /* padding: 10px 14px 10px 14px; */
    gap: 4px;
    border-radius: 8px;
    background: #E6E7EC;
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
    align-self: center;
    display: flex;
}
.backText{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.005em;
    text-align: center;
    color: #5A607F;
    padding-left: 5px;
}
.header {
    width: 601px;
    height: 42px;
    padding: 12px 29px 12px 29px;
    gap: 60px;
    flex-direction: row;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    background: #F5F6F9;
    margin-top: 10px;
}
.subcatText{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #131523;
}
.listContainer{
    width: 660px;
    height: fit-content;
    gap: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px #15223214;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.info {
    padding: 16px 18px;
    background-color: #FFF;
    color: var(--Gray-900, #191B1C);
    font-family: "Public Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    display: flex;
    text-transform: capitalize;
    align-items: center;
    border-bottom: 1px solid #E5E7E8;
}

.first {
    width: 15%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    text-transform: capitalize;
    align-items: center;
    display: flex;
}

.second {
    width: 40%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    text-transform: capitalize;
    align-items: center;
    display: flex;
    justify-content: center;
}

.headerText {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    text-transform: capitalize;

}

.fourth {
    width: 20%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-transform: capitalize;
    
}
.option{
    /* text-align: center; */
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.third {
    width: 20%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
.entryView{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
}
.leftright{
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-right: 10px;
}
.onPage{
    width: 40px;
    height: 40px;
    /* padding: 10px 0px 10px 0px; */
    gap: 10px;
    border-radius: 20px;
    background: #005CE8;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.toggleButton{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 20px;
}
.toggleButton span{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-top: 2px;
    color: #131523;
    margin-left: 10px;
}
.visibilityContainer{
    width: 330px;
    height: fit-content;
    gap: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px #15223214;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;

}
.newContainer{
    width: 330px;
    height: fit-content;
    gap: 0px;
    background: #FFF2C5;
    box-shadow: 0px 1px 4px 0px #15223214;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;

}
.showingText{
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #000000;

}
