.sideMenuBar {
    display: flex;
    gap: 0;
    padding: 0;
    width: 265px;
    margin: 0;
    background-color: #19392C;
    position: fixed;
    height: 100vh;
    overflow: hidden;
    scrollbar-gutter: stable;
    position: fixed;
    overflow-y: auto;
}

.sideMenuBar::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
}

.sideMenuBar:hover {
    &::-webkit-scrollbar {
        width: 8px;
        position: absolute;
        top: 0;
        right: 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .2);
        border-radius: 3px;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.left {
    width: 265px;
    background-color: #19392C;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
    font-size: 26px;
    text-align: center;
    color: #EDF1B6;
}

.lineStyle {
    width: 211px;
    height: 0px;
    top: 132px;
    left: 25px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    border: 1px solid #0000001A;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main_title {
    padding: 10px 26px;
}

.generalText {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.59px;
    letter-spacing: 0.003em;
    text-align: left;
    color: #FFFFFF;
    text-transform: uppercase;
}

.dashboardText {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.003em;
    text-align: left;
    color: #fff;
    padding-left: 10px;
}
.dashboardText.active {
    background: #2F2F3B;
    color: #2F2F3B;
}

.width {
    margin: auto;
    width: 100%;
    padding: 0 26px;
    margin: 5px 0;
    height: 41px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    cursor: pointer;
}

.width:hover {
    background-color: #1e5eff0b;
    color: #2F2F3B;
}

.width > div {
    display: flex;
    align-items: center;
}

.width.active {
    background: #EDF1B6;
}

.width.active::after {
    content: '';
    display: block;
    width: 4px;
    height: 30px;
    background: #19392C;
    border-radius: 5px 0 0 5px;
    position: absolute;
    right: 0;
}

.width.active p {
    color: #19392C !important;
    
}

svg {
    cursor: pointer;
}

.subpaths {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 26px;
    position: relative;
}

.vertical {
    position: absolute;
    display: block;
    width: 2px;
    background: rgba(82, 82, 108, 0.4);
    height: 40px;
    top: -15px;
    left: 2px;
}

.horizontal {
    position: absolute;
    display: block;
    width: 10px;
    background: rgba(82, 82, 108, 0.4);
    height: 2px;
    top: 25px;
    left: 2px;
}

.subpaths div {
    width: 75%;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* margin: 3px 0px; */
    color: rgba(10, 9, 9, 0.56);
    border-radius: 6px;
    padding: 5px 25px;
    cursor: pointer;
}

.submenu {
    color: #1E5EFF !important;
    position: relative;
}

.submenu .horizontal::before {
    content: '';
    display: block;
    width: 7.5px !important;
    height: 7.5px !important;
    background: rgba(30, 94, 255, 1);
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: -3px;
}

.menuText {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.003em;
    text-align: left;
    color: #FFFFFFCC;
    position: relative;
}