.sideMenuBar {
    display: flex;
    gap: 0;
    justify-content: center;
    padding: 0;
    width: 250px;
    margin: 0;
    background-color: #fff;
    position: fixed;
    height: 100vh;
    overflow: hidden;
    scrollbar-gutter: stable both-edges;
    overflow-y: auto;
}

.sideMenuBar::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
}

.sideMenuBar:hover {
    &::-webkit-scrollbar {
        width: 8px;
        position: absolute;
        top: 0;
        right: 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .2);
        border-radius: 3px;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.left {
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    width: 250px;
    background-color: #fff;
    padding: 20px;
    flex-wrap: wrap;
}




.lineStyle {
    width: 211px;
    height: 0px;
    top: 132px;
    left: 25px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    border: 1px solid #0000001A;
    margin-top: 30px;
}

.generalText {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.59px;
    letter-spacing: 0.003em;
    text-align: left;
    color: #52526C;
    text-transform: uppercase;
}

.dashboardText {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.003em;
    text-align: left;
    color: #2F2F3BCC;
    padding-left: 10px;
}

.width {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    margin: auto;
    width: 100%;
}

.menuStyle {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: auto;
    width: 100%;
}

.menuActive {
    background: #1E5EFF12;
    width: 266px;
    height: 41px;
    /* top: 312px; */
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: auto;
    width: 100%;
    border-right-width: 10px;
    border-right-color: #1E5EFF;
}

/* .menuActive svg {
    stroke: #1E5EFF;
    padding: 16px 12px;
    stroke-opacity: 0.56;
} */
svg {
    cursor: pointer;
}

/* .menuStyle svg, .menuActive:hover svg{
    stroke: #1E5EFF;
    stroke-opacity: 1;
} */
.subpaths {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    align-items: flex-start;
}

.subpaths div {
    width: 75%;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* margin: 3px 0px; */
    color: rgba(10, 9, 9, 0.56);
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    /* padding-left: 20px; */
}

.submenu {
    /* background: rgba(255, 255, 255, 0.25); */
    color: #1E5EFF !important;
}

.menuText {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.003em;
    text-align: left;
    color: #52526CCC;

}