.wrapper {
    width: calc(100% - 265px);
    position: absolute;
    right: 0;
    top: 0;
}

.headermenu {
    width: calc(100% - 265px);
    height: 53px;
    gap: 0px;
    box-shadow: 0px 4px 40px 0px #2720781A;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    background: #19392C;
    z-index: 3;
    /* flex-wrap: wrap; */
}

.menuStyle {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: auto;
    width: 100%;
}

.userName {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.59px;
    text-align: left;
    color: #EDF1B6;
}

.admin {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.22px;
    text-align: left;
    color: rgba(255, 255, 255, 0.7);
}

.width {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    margin: auto;
    gap: 5px;
    width: 100%;
}

.welcome {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 19.53px;
    text-align: left;
    color: #EDF1B6;
}

.form {
    margin-top: 20px;
}

label {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #5A607F;
    margin-top: 20px;

}

.input {
    display: flex;
    padding-left: 10px;
    align-items: center;
    border: 1px solid var(--Gray-100, #E9EAF0);
    background: var(--Gray-White, #FFF);
    width: 470px;
    height: 48px;
    border-radius: 5px;
}

input {
    outline: none;
    border: none;
    width: 100%;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    /* gap: 10px; */
    color: #000;
    text-align: center;
    /* font-family: "Work Sans"; */
    /* margin-top: 5px; */
}

.cancel {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), rgba(255, 255, 255, 0.70);
    color: #000;
}

.cancel:hover {
    background: linear-gradient(0deg, rgba(61, 60, 60, 0.2) 0%, rgba(111, 110, 110, 0.2) 100%), rgba(255, 255, 255, 0.70);
}

.save {
    background: #000;
    color: white;
}

.save:hover {
    background: #373535;
}

/*  Main content container ----------------
----------------------------------------- */

.main {
    padding-top: 60px;
    width: 100%;
    overflow-x: hidden;
}
.switchContainer{
    width: 100%;
    height: 779px;
    padding: 28px 24px 28px 24px;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px #15223214;
    border-radius: 5px;
}
.editProfile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}
.editIconStyle{
    z-index: 1;
    position: absolute;
    margin-top: 80px;
    align-items: end;
    text-align: right;
    margin-left: 100px;
    /* margin-right: 10; */

}
.viewStyle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
}
.factorText{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.83px;
    text-align: left;
    color: #404040;
}
.onMessage{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.23px;
    text-align: left;
    color: #232323;
}