.brandView{
    width: 190px;
    height: 60px;
    padding: 16px;
    gap: 10px;
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid #D9E1EC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.activeBrandView{
    width: 190px;
    height: 60px;
    padding: 16px;
    gap: 10px;
    border-radius: 8px;
    background: #ECF2FF;
    border: 1px solid #1E5EFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inActiveText{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #404040;
    cursor: pointer;
}
.activeText{
    color: #1E5EFF;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.011em;
    text-align: left;
    cursor: pointer;
}
.bannerStyle{
    width: 420px;
    height:  308px;
    padding: 24px;
    gap: 24px;
    border-radius: 6px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6
}
.bannerStyle h4{
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
    color: #404040;
}
.labelText{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
    color: #5A607F;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.digitText{
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.optional{
    width: 68px;
    height: 24px;
    padding: 4px;
    gap: 10px;
    border-radius: 100px;
    background: #E0E0E0;
    font-family: Inter;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.001em;
    text-align: center;
    color: #757575;
    text-transform: uppercase;
    margin-left: 10px;
}
.buttonStyle{
    width: 180px;
    height: 48px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #C2C2C2;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #404040;
}
.buttonView{
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
}
.httpBox{
    border-right: 1px solid #E9EAF0;
    height: 50px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background: #EDEDED;
    width: 86px;
    height:48px;
    padding: 16px;
    color: #404040;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.011em;
    text-align: left;
    
}