.header {
    width: 100%;
    height: 42px;
    padding: 12px 10px 12px 10px;
    /* gap: 60px; */
    flex-direction: row;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    background: #F5F6F9;
    margin-top: 10px;
}
.subcatText{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #131523;
}
.listContainer{
    width: 100%;
    height: fit-content;
    gap: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px #15223214;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.info {
    padding: 16px 10px;
    background-color: #FFF;
    color: var(--Gray-900, #191B1C);
    font-family: "Public Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    display: flex;
    text-transform: capitalize;
    /* align-items: center; */
    border-bottom: 1px dashed #E5E7E8;
    width: 100%;
}
.headerText {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    text-transform: capitalize;

}
.first {
    width: 10%;
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
}
.second {
    width: 43%;
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third {
    width: 20%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.second span{
    /* margin-top: 10px; */
    margin-left: 5px;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
}
.second p{
    /* margin-top: 10px; */
    margin-left: 5px;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    color: #5A607F;
    text-align: left;

}
.fourth {
    width: 35%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.fifth {
    width: 28%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    align-items: center;
    justify-content: center;
    text-align: left;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
}
.sixth {
    width: 25%;
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    align-items: center;
    justify-content: center;
    text-align: left;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    
}
.status {
    width: 20%;
    text-transform: capitalize;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 30px;
    margin-top: 10px;
}

.status span{
    font-family: 'DM Sans';
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-transform: capitalize;
    color: #FF8227;
}
.seventh {
    width: 15%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.option{
    /* text-align: center; */
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.entryView{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
}
.leftright{
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-right: 10px;
}
.onPage{
    width: 40px;
    height: 40px;
    /* padding: 10px 0px 10px 0px; */
    gap: 10px;
    border-radius: 20px;
    background: #005CE8;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.showingText{
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #000000;
}
.imageUpload1{
    width: 470px;
    height: 108px;
    border: 1px;
    background: var(--Gray-White, #FFF);
    border: 1px dashed var(--Gray-100, #E9EAF0);
    border-radius: 7px;
}

.imageView{
    align-items: center;
    justify-content: center;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-self: center;
    margin-top: 10px;
}
.uploadBox{
    display: flex;
    align-content: center;
    justify-content: center;
}
.uploadText{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    text-align: center;
    color: #5570F1;
    padding-left: 10px;
}
.pixel{
    font-family: Public Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #626C70;
}
.headingText1{
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #131523;
    padding-top: 20px;
}
.activeBox{
    width: 245px;
    height: 96px;
    border-radius: 7px;
    border: 2px solid #1E5EFF;
    gap: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 10px;
}
.activeBox p{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #1E5EFF;
}
.inActiveBox{
    width: 245px;
    height: 96px;
    border-radius: 7px;
    border: 1px solid #D7DBEC;
    gap: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 10px;
}
.inActiveBox p{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #5A607F;
}
.calendarBox{
    width: 470px;
    height: 48px;
    border-radius: 7px;
    border: 1px solid #D9E1EC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
}
.calendarBox p{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #A1A7C4;
}
.limitText{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #131523;
    padding-left: 10px;
}