@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */
.fontSize{
  font-size: 16px;
}
.fs2{
  font-size: 18px;
}
.fs3{
  font-size: 16px;
}
.heroText{
  font-size: 38px;
}
.btext, .btext2{
  font-size: 32px;
}
.highlight{
  font-size: 23px;
  color: #343441;
}
.fyp{
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1087px){
    .btext2{
      font-size: 23px;
    }
}
@media screen and (max-width: 973px){
  .fyp{
    display: block;
  }
  .highlight{
    font-size: 18px;
  }
}
@media screen and (max-width: 603px){
  .btext2{
    font-size: 22px;
  }
}
@media screen and (max-width: 525px){
  .fontSize{
    font-size: 15px;
  }
  .fs2{
    font-size: 16.5px;
  }
  .fs3{
    font-size: 15px;
  }
  .heroText{
    font-size: 32px;
  }
  .btext{
    font-size: 28px;
    text-align: center;
  }
  .btext2{
    font-size: 19px;
  }
}