.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.download{
    width: 142px;
    height: 40px;
    /* padding: 10px 14px 10px 14px; */
    gap: 8px;
    border-radius: 50px;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-self: center;
    display: flex;
    background-color: #F0F6FF;
}
.download span{
    color: #1E5EFF;
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
}
.desc{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #131523;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header {
    width: 100%;
    height: 42px;
    padding: 12px 18px 12px 18px;
    flex-direction: row;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    background: #F5F6F9;
    margin-top: 10px;
    color: #4A5154;
}
.subcatText{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #131523;
}
.listContainer{
    width: 100%;
    height: fit-content;
    gap: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px #15223214;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.info {
    width: 100%;
    padding: 16px 18px;
    background-color: #FFF;
    color: var(--Gray-900, #191B1C);
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    text-transform: capitalize;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px dashed #E5E7E8;
}
.headerText {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    /* text-align: center; */

}
.first1 {
    width: 12%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    /* text-align: center; */
}
/* .first {
    width: 16%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
} */
.second {
    width: 32%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
}
.third {
    width: 30%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
}
.fourth {
    width: 40%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
}
.fifth {
    width: 28%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
}
.dateStyle {
    width: 15%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
}
.sixth {
    width: 25%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: left;
}
.seventh {
    width: 25%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
}
.seventhPrize {
    width: 25%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
}
.eight {
    width: 25%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.nine {
    width: 5%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.30000001192092896px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.option{
    /* text-align: center; */
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.entryView{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
}
.leftright{
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin-right: 10px;
}
.onPage{
    width: 40px;
    height: 40px;
    /* padding: 10px 0px 10px 0px; */
    gap: 10px;
    border-radius: 20px;
    background: #005CE8;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.entryText{
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #000;
}
.logoStyle{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.logoStyle h2{
    font-family: Public Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #191B1C;

}
.descText{
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #626C70;
}
.descText span{
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #191B1C;
}
.printStyle{
    width: 158px;
    height: 40px;
    padding: 5px 24px 10px 24px;
    gap: 8px;
    border-radius: 160px;
    background: #005CE8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.printStyle span{
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: #FFFFFF;
}
.boldText{
    font-family: Public Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #191B1C;
}
.address{
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #191B1C;

}
.billContainer{
    width: 1,440px;
    height: 36px;
    padding: 12px 24px 12px 24px;
    background: #F5F6F7;
    display: flex;
    flex-direction: row;
    color: #4A5154;
}
.productStyle{
    width: 80%;
    font-family: Public Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    display: flex;
    flex-direction: row;
    color: #4A5154;
}
.qntStyle{
    width: 30%;
    font-family: Public Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: #4A5154;
    text-align: right;
}
.unitStyle{
    width: 35%;
    font-family: Public Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: #4A5154;
    text-align: right;
}
.ammountStyle{
    width: 35%;
    font-family: Public Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: #4A5154;
    text-align: right;
}
.numStyle{
    width: 24px;
    height: 24px;
    padding: 6px 4px 4px 8px;
    gap: 10px;
    border-radius: 12px;
    background: #F5F6F7;
    color: #4A5154;
}
.lineStyle{
    width: 100%;
    border: 1px solid #E5E7E8
}
.subTotalStyle{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 12px 24px 12px 24px;
    width: 100%;
}
.subTotalText{
    font-family: Public Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: #191B1C;
    width: 20%; 
    text-align: right;
}
.thankText{
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #191B1C;
}

